In [1]:
import pandas as pd

In [207]:
data=pd.read_csv('Salary_data.csv')

In [208]:
data.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [213]:
data['income_bracket'].unique()

array([0, 1], dtype=int64)

In [210]:
def labelfix(label):
    if label==' <=50K':
        return 0
    else:
        return 1

In [211]:
data['income_bracket']=data['income_bracket'].apply(labelfix)

In [212]:
data.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

In [214]:
from sklearn.model_selection import train_test_split

In [215]:
xdata=data.drop('income_bracket',axis=1)

In [216]:
ydata=data['income_bracket']

In [217]:
xtrain,xtest,ytrain,ytest=train_test_split(xdata,ydata,test_size=0.3,random_state=0)

In [218]:
ytrain.head()

32098    1
25206    0
23491    1
12367    0
7054     0
Name: income_bracket, dtype: int64

In [219]:
data.columns

Index(['age', 'workclass', 'education', 'education_num', 'marital_status',
       'occupation', 'relationship', 'race', 'gender', 'capital_gain',
       'capital_loss', 'hours_per_week', 'native_country', 'income_bracket'],
      dtype='object')

In [220]:
import tensorflow as tf

In [221]:
gender=tf.feature_column.categorical_column_with_vocabulary_list("gender",["Female","Male"])

In [222]:
occupation=tf.feature_column.categorical_column_with_hash_bucket("occupation",hash_bucket_size=1000)

In [223]:
marital_status=tf.feature_column.categorical_column_with_hash_bucket("marital_status",hash_bucket_size=1000)

In [224]:
relationship=tf.feature_column.categorical_column_with_hash_bucket("relationship",hash_bucket_size=1000)
education=tf.feature_column.categorical_column_with_hash_bucket("education",hash_bucket_size=1000)
workclass=tf.feature_column.categorical_column_with_hash_bucket("workclass",hash_bucket_size=1000)
nativecountry=tf.feature_column.categorical_column_with_hash_bucket("native_country",hash_bucket_size=1000)

In [225]:
age=tf.feature_column.numeric_column("age")
educationnum=tf.feature_column.numeric_column("education_num")
capitalgain=tf.feature_column.numeric_column("capital_gain")
capitalloss=tf.feature_column.numeric_column("capital_loss")
hrsperweek=tf.feature_column.numeric_column("hours_per_week")

In [226]:
featcols=[gender,occupation,relationship,marital_status,education,workclass,nativecountry,age,educationnum,capitalgain,capitalloss,hrsperweek]

In [227]:
inputfunc=tf.estimator.inputs.pandas_input_fn(x=xtrain,y=ytrain,batch_size=100,num_epochs=None,shuffle=True)

In [228]:
model=tf.estimator.LinearClassifier(feature_columns=featcols)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: C:\Users\Hp\AppData\Local\Temp\tmpa0ocr6va
INFO:tensorflow:Using config: {'_model_dir': 'C:\\Users\\Hp\\AppData\\Local\\Temp\\tmpa0ocr6va', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_experimental_max_worker_delay_secs': None, '_session_creation_timeout_secs': 7200, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x0000016627F9A978>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

In [229]:
model.train(input_fn=inputfunc,steps=5000)

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Saving checkpoints for 0 into C:\Users\Hp\AppData\Local\Temp\tmpa0ocr6va\model.ckpt.
INFO:tensorflow:loss = 69.31472, step = 1
INFO:tensorflow:global_step/sec: 107.641
INFO:tensorflow:loss = 713.3896, step = 101 (0.937 sec)
INFO:tensorflow:global_step/sec: 176.686
INFO:tensorflow:loss = 89.42039, step = 201 (0.568 sec)
INFO:tensorflow:global_step/sec: 164.099
INFO:tensorflow:loss = 218.81902, step = 301 (0.604 sec)
INFO:tensorflow:global_step/sec: 170.05
INFO:tensorflow:loss = 224.5467, step = 401 (0.588 sec)
INFO:tensorflow:global_step/sec: 175.1
INFO:tensorflow:loss = 85.18785, step = 501 (0.572 sec)
INFO:tensorflow:global_step/sec: 177.023
INFO:tensorflow:loss = 144.45177, step = 601 (0.564 sec)
INFO:tensorflow:global_step/sec: 183.33
INFO:tensorflow:loss = 126.04554, step = 701 (0.551 sec)
INFO:tensorflow:global_step/sec: 155.985
INFO:tensorflow:loss = 76.07754, step = 801 (0.638 sec)
INFO:tensorflow:global_step/sec: 171.752
INFO:tensorflow:loss = 24.67808, step = 901 (0.589 sec)
INFO:tensorflow:global_step/sec: 170.006
INFO:tensorflow:loss = 29.42172, step = 1001 (0.578 sec)
INFO:tensorflow:global_step/sec: 249.224
INFO:tensorflow:loss = 66.24753, step = 1101 (0.400 sec)
INFO:tensorflow:global_step/sec: 224.392
INFO:tensorflow:loss = 294.34314, step = 1201 (0.446 sec)
INFO:tensorflow:global_step/sec: 179.29
INFO:tensorflow:loss = 130.02046, step = 1301 (0.556 sec)
INFO:tensorflow:global_step/sec: 178.265
INFO:tensorflow:loss = 78.923134, step = 1401 (0.566 sec)
INFO:tensorflow:global_step/sec: 190.595
INFO:tensorflow:loss = 25.696444, step = 1501 (0.521 sec)
INFO:tensorflow:global_step/sec: 169.067
INFO:tensorflow:loss = 85.676506, step = 1601 (0.598 sec)
INFO:tensorflow:global_step/sec: 162.488
INFO:tensorflow:loss = 38.209164, step = 1701 (0.619 sec)
INFO:tensorflow:global_step/sec: 177.468
INFO:tensorflow:loss = 30.597912, step = 1801 (0.563 sec)
INFO:tensorflow:global_step/sec: 181.58
INFO:tensorflow:loss = 38.38218, step = 1901 (0.543 sec)
INFO:tensorflow:global_step/sec: 186.942
INFO:tensorflow:loss = 29.83455, step = 2001 (0.533 sec)
INFO:tensorflow:global_step/sec: 174.971
INFO:tensorflow:loss = 44.575592, step = 2101 (0.579 sec)
INFO:tensorflow:global_step/sec: 170.902
INFO:tensorflow:loss = 66.400215, step = 2201 (0.585 sec)
INFO:tensorflow:global_step/sec: 219.184
INFO:tensorflow:loss = 55.179657, step = 2301 (0.452 sec)
INFO:tensorflow:global_step/sec: 254.748
INFO:tensorflow:loss = 39.255947, step = 2401 (0.394 sec)
INFO:tensorflow:global_step/sec: 232.358
INFO:tensorflow:loss = 26.125631, step = 2501 (0.423 sec)
INFO:tensorflow:global_step/sec: 216.46
INFO:tensorflow:loss = 26.27178, step = 2601 (0.464 sec)
INFO:tensorflow:global_step/sec: 198.814
INFO:tensorflow:loss = 21.908459, step = 2701 (0.509 sec)
INFO:tensorflow:global_step/sec: 183.42
INFO:tensorflow:loss = 118.752266, step = 2801 (0.543 sec)
INFO:tensorflow:global_step/sec: 164.432
INFO:tensorflow:loss = 91.84248, step = 2901 (0.614 sec)
INFO:tensorflow:global_step/sec: 171.055
INFO:tensorflow:loss = 37.381474, step = 3001 (0.580 sec)
INFO:tensorflow:global_step/sec: 219.948
INFO:tensorflow:loss = 39.862083, step = 3101 (0.454 sec)
INFO:tensorflow:global_step/sec: 158.844
INFO:tensorflow:loss = 26.147068, step = 3201 (0.632 sec)
INFO:tensorflow:global_step/sec: 181.284
INFO:tensorflow:loss = 43.73613, step = 3301 (0.552 sec)
INFO:tensorflow:global_step/sec: 156.241
INFO:tensorflow:loss = 24.857662, step = 3401 (0.636 sec)
INFO:tensorflow:global_step/sec: 189.759
INFO:tensorflow:loss = 68.48328, step = 3501 (0.531 sec)
INFO:tensorflow:global_step/sec: 158.853
INFO:tensorflow:loss = 65.282234, step = 3601 (0.626 sec)
INFO:tensorflow:global_step/sec: 172.285
INFO:tensorflow:loss = 330.97946, step = 3701 (0.582 sec)
INFO:tensorflow:global_step/sec: 201.891
INFO:tensorflow:loss = 32.48088, step = 3801 (0.495 sec)
INFO:tensorflow:global_step/sec: 177.589
INFO:tensorflow:loss = 115.197655, step = 3901 (0.559 sec)
INFO:tensorflow:global_step/sec: 193.369
INFO:tensorflow:loss = 22.535883, step = 4001 (0.518 sec)
INFO:tensorflow:global_step/sec: 157.814
INFO:tensorflow:loss = 30.163956, step = 4101 (0.638 sec)
INFO:tensorflow:global_step/sec: 169.544
INFO:tensorflow:loss = 48.735756, step = 4201 (0.586 sec)
INFO:tensorflow:global_step/sec: 153.818
INFO:tensorflow:loss = 26.563433, step = 4301 (0.649 sec)
INFO:tensorflow:global_step/sec: 176.871
INFO:tensorflow:loss = 53.13424, step = 4401 (0.570 sec)
INFO:tensorflow:global_step/sec: 168.674
INFO:tensorflow:loss = 45.8942, step = 4501 (0.588 sec)
INFO:tensorflow:global_step/sec: 164.982
INFO:tensorflow:loss = 31.16077, step = 4601 (0.611 sec)
INFO:tensorflow:global_step/sec: 179.887
INFO:tensorflow:loss = 32.494495, step = 4701 (0.560 sec)
INFO:tensorflow:global_step/sec: 153.392
INFO:tensorflow:loss = 46.06739, step = 4801 (0.643 sec)
INFO:tensorflow:global_step/sec: 163.884
INFO:tensorflow:loss = 28.401983, step = 4901 (0.611 sec)
INFO:tensorflow:Saving checkpoints for 5000 into C:\Users\Hp\AppData\Local\Temp\tmpa0ocr6va\model.ckpt.
INFO:tensorflow:Loss for final step: 24.819416.

In [230]:
predfunc=tf.estimator.inputs.pandas_input_fn(x=xtest,batch_size=len(xtest),shuffle=False)

In [231]:
prediction=list(model.predict(input_fn=predfunc))

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from C:\Users\Hp\AppData\Local\Temp\tmpa0ocr6va\model.ckpt-5000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

In [232]:
prediction[0]

{'logits': array([-4.2603097], dtype=float32),
 'logistic': array([0.01392138], dtype=float32),
 'probabilities': array([0.98607856, 0.01392139], dtype=float32),
 'class_ids': array([0], dtype=int64),
 'classes': array([b'0'], dtype=object),
 'all_class_ids': array([0, 1]),
 'all_classes': array([b'0', b'1'], dtype=object)}

In [233]:
finalpred=[]
for pred in prediction:
    finalpred.append(pred['class_ids'][0])

In [234]:
finalpred[:10]

[0, 0, 0, 0, 1, 0, 0, 0, 0, 0]

In [235]:
from sklearn.metrics import classification_report

In [236]:
print(classification_report(ytest,finalpred))

              precision    recall  f1-score   support

           0       0.90      0.90      0.90      7407
           1       0.68      0.68      0.68      2362

    accuracy                           0.85      9769
   macro avg       0.79      0.79      0.79      9769
weighted avg       0.85      0.85      0.85      9769